<form>
    <div class="name">
        <label class="label" for="name">Name *</label>
        <input type="text" class="form_input" id="name" name="name" value="" required="required" />
    </div>

    <div class="email">
        <label class="label" for="email">Email *</label>
        <input type="text" class="form_input" id="email" name="email" value="" required="required" />
    </div>

    <div class="textarea">
        <label class="label" for="message">Message *</label>
        <textarea class="form_input" id="message" name="message" value="" required="required"></textarea>
    </div>
</form>
